<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="shortcut icon" href="img/logo-solo-ochrana-sin-fondo.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/3f4db2cda2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Loans Applications</title>
</head>

<body class="text-dark bg-light">
<div id="app">
    <div class="toast-container position-absolute p-3 top-0 end-0" id="toastPlacement">
        <div id="danger-toast" data-bs-delay="2000" class="toast align-items-center text-white bg-danger border-0"
             role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    {{ errorMsg }}
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                        aria-label="Close"></button>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="p-1 pe-3">
                <img src="img/logo-ochrana-sin-fondo.png" class="img-nav">
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse ps-4 container-fluid" id="navbar">
                <ul class="navbar-nav me-auto mb-2 mb-md-0 fs-5">
                    <li class="nav-item">
                        <div class="menu text-dark">
                            <a href="/web/accounts.html" class="text-light ps-2">
                                <span>Accounts</span>
                                <span>
                                    <i class="fa-solid fa-wallet fa-2xl"></i>
                                </span>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="menu text-dark">
                            <a href="/web/cards.html" class="text-light ps-2">
                                <span>Cards</span>
                                <span>
                                    <i class="fa-solid fa-credit-card fa-2xl"></i>
                                </span>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="menu text-dark">
                            <a href="/web/transfers.html" class="text-light ps-2">
                                <span>Transfers</span>
                                <span>
                                    <i class="fa-solid fa-money-bill-transfer fa-2xl" ></i>
                                </span>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="menu text-dark">
                            <a href="/web/loan-application.html" class="text-light ps-2">
                                <span>Loans</span>
                                <span>
                                    <i class="fa-solid fa-landmark fa-2xl"></i>
                                </span>
                            </a>
                        </div>
                    </li>
                </ul>
                <span class="p-0 m-0 d-flex align-items-center">
                    <p class="text-light fs-5 ps-3 m-0">{{clientInfo.firstName}}, {{clientInfo.lastName}}</p>
                </span>
                <span class="p-0 ms-3">
                    <div class="nav-item dropdown nav-user">
                        <a class="nav-link fs-5 p-0 dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-circle-user fa-2xl ms-2"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li class="d-flex justify-content-center"><img src="img/Free%20Icon%20_%20Profile%20user.jpeg" style="width:4rem"></li>
                            <li><hr class="dropdown-divider"></li>
                            <li class="d-flex justify-content-center"><button class="btn btn-danger img-fluid" v-on:click="signOut">Sign out</button></li>
                        </ul>
                    </div>
                </span>
            </div>
        </div>
    </nav>


    <form class="bg-light text-light mt-4 mb-4 d-flex justify-content-center">
        <div class="row bg-dark d-flex justify-content-center m-0 p-3 col-md-10 rounded-3">
            <h2 class="display-6 subtitle pb-3">Loan application</h2>
            <div class="col-10 col-sm-4 bg-danger container">
                <div class="d-flex justify-content-center pt-2 pb-2 ms-3 me-3">
                    <img src="img/Loan-1.png" class="profile">
                </div>
                <div>
                    <div class="col pb-4">
                        <label for="type" class="form-label">Loan types</label>
                        <select id="type" v-model="loanTypeId" v-on:change="changedType"
                                class="form-select" aria-label="Default select example" required>
                            <option value="0">Open this select menu</option>
                            <option v-for="loanType in loanTypes" v-bind:value="loanType.id">{{
                                loanType.name }} | max amount: {{ loanType.maxAmount }}</option>
                        </select>
                    </div>
                    <div class="col mb-3">
                        <label for="payments" class="form-label">Payments</label>
                        <select id="payments" v-model="payments" class="form-select"
                                aria-label="Default select example" required>
                            <option value="0">Open this select menu</option>
                            <option v-for="payment in paymentsList" v-bind:value="payment">{{ payment }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-3 col-sm-1 d-flex justify-content-center align-items-center mt-3 mb-3">
                <img src="img/Transferencia-2.png" style="height:4rem">
            </div>
            <div class="col-10 col-sm-4 bg-danger container">
                <div class="d-flex justify-content-center pt-2 pb-2 col">
                    <img src="img/Free%20Icon%20_%20Profile%20user.jpeg" class="profile rounded-circle">
                </div>
                <div class="col d-flex flex-column bd-highlight">
                    <div class="col">
                        <label for="to-account" class="form-label">To account</label>
                        <select id="to-account" v-model="accountToNumber" class="form-select"
                                aria-label="Default select example" required>
                            <option value="VIN">Open this select menu</option>
                            <option v-for="account in clientAccounts" v-bind:value="account.number">{{
                                account.number }}</option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="amount" class="form-label">Amount</label>
                        <input id="amount" v-model="amount" type="number" class="form-control"
                               placeholder="VIN000554" aria-label="to account">
                    </div>
                    <div class="col">
                        <label class="form-label">Fees</label>
                        <div><button type="button" v-on:click="checkFees"
                                     class="btn btn-sm btn-primary mt-1 mb-3">See fees</button></div>
                    </div>

                </div>
            </div>
            <div class="row">
                <button type="button" v-on:click="checkApplication"
                        class="btn btn-sm btn-success col-2 mt-4">Apply</button>
            </div>
        </div>
    </form>
        
    <!-- Modal -->
    <div class="modal fade" id="confirModal" tabindex="-1" aria-labelledby="confirModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirModalLabel">Confirm Loan Application</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Loans applications cannot be undone, do you want to continue?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" v-on:click="apply" class="btn btn-sm btn-success">Yes, apply
                        loan</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 2-->
    <div class="modal fade" id="okModal" tabindex="-1" aria-labelledby="okModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="okModalLabel">Application complete!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    The loan have been applied! <i class="bi bi-check-circle-fill text-success"></i>
                </div>
                <div class="modal-footer">
                    <button type="button" v-on:click="finish" class="btn btn-sm btn-success"
                            data-bs-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 3-->
    <div class="modal fade" id="feesModal" tabindex="-1" aria-labelledby="feesModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="feesModalLabel">Loan fees</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    You will pay:
                    <ol class="list-group list-group-numbered">
                        <li v-for="fee in fees" class="list-group-item">${{ fee.amount }}</li>
                        <span class="mt-2">Total: ${{ this.totalLoan }}</span>
                    </ol>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-success" data-bs-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
<script src="js/loan-application.js"></script>
</body>

</html>